body {
	font: 18px Arial serif;
}

.navbar {
	background-color: #F8F9FA;
}

.footer {
	background-color: #F8F9FA;
}

.message-list-item {
	margin-bottom: 20px;
}

.message-box {
	background-color: #F8F9FA;
	border-radius: 0.5rem;
}

.own-message-box {
	background-color: #00B8FC;
	border-radius: 0.2rem;
}

#welcome {
	/*width: 30%;
	margin: auto;*/
	font: 2em Arial sans-serif bold;
}

#show-id {
	/*width: 15%;
	margin: auto;*/
	font: 1em Arial serif;
}

#uid {
	font: bold;
}

#message-list {
	border: 1px black solid;
	margin: 2em;
	width: 80%;
	height: 30em;
	margin: auto;
	overflow-y: scroll;
}

#msg-input {
	margin: 0px;
}